.contenedor_indices {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: auto;
    background-color: var(--inner-bg-color);
    border-top: 1px solid var(--border-bg-color);
    font-size: medium;

    .table_container_indices {
        font-family: "Ibarra Real Nova", serif;
        padding-left: 1.5rem;

        .contenedor_letra_libros {
            margin-top: 3rem;

            &:nth-child(1) {
                margin-top: 1rem;
            }
        }

        .i_titulo {
            font-style: italic;
        }

        .i_mas_info {
            color: var(--paragraph-text-color);
        }

        ul {
            list-style-type: circle;

            li {
                margin-bottom: 1rem;
            }
        }
    }
}

.sidebar_indices {
    width: 190px;
    background-color: var(--outer-bg-color);
    border-right: 1px solid var(--border-bg-color);
    border-top: 1px solid var(--border-bg-color);
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    max-height: 100vh;
    overflow-y: auto;
    padding-inline: 1rem;

    ul {
        list-style: none;
        padding: 0;

        li {
            margin-bottom: 0.15rem;

            a.indice_enlace {
                display: block;
                padding: 0.5rem;
                border-radius: 8px;
                background-color: var(--outer-bg-color);
                transition: background-color 0.1s ease-out;
                color: var(--paragraph-text-color);
                text-decoration: none;

                &:hover {
                    background-color: var(--item-bg-color-hover);
                    color: var(--paragraph-text-color);
                }
            }
        }
    }
}

.barra_separadora {
    border-top: 1px solid var(--border-bg-color);
    margin: 0 -1rem;
}

.vista_selector {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;

    button {
        padding: 0.4rem;
        border: 1px solid var(--border-bg-color);
        background-color: var(--outer-bg-color);
        cursor: pointer;
        color: var(--paragraph-text-color);
        width: 100%;
        transition: background-color 0.2s ease-out,color 0.2 ease-out;

        &:hover:not(:disabled) {
            background-color: var(--third-bg-color);
            color: var(--paragraph-text-color);
        }

        &:disabled {
            background-color: var(--item-bg-color-hover);
            color: var(--paragraph-text-color);
        }

        &:nth-child(1) {
            border-right: none;
            border-radius: 8px 0 0 8px;
        }

        &:nth-child(2) {
            border-left: none;
            border-radius: 0 8px 8px 0;
        }
    }
}

.i_sin_elementos {
    color: var(--paragraph-text-color);
}

.pagina_subtitulo {
    font-weight: bold;
    font-size: small;
    margin: 0 -1rem;
    padding: 0.64rem 1rem;
    border-bottom: 1px solid var(--border-bg-color);
    background-color: var(--outer-bg-color);
    position: sticky;
    top: 0;
    z-index: 4;
    color: var(--title-text-color);
}

// Estilos para pantallas pequeñas (teléfonos)
@media (max-width: 768px) {
    .contenedor_indices {
        .table_container_indices {
            padding-right: 1.5rem;
        }
    }

    .sidebar_indices {
        width: auto;
        border-right: none;
        border-top: none;
        max-height: auto;
    }

    .pagina_subtitulo {
        font-size: large;
        border-top: 1px solid var(--border-bg-color);
    }
}