.temaAsh {
    --outer-bg-color: #2c2d32;
    --button-bg-color: #35353a;
    --field-bg-color: #232428;
    --inner-bg-color: #323339;
    --bookurl-bg-color: #3b3f65;
    --booktext-bg-color: #ced7ff;
    --bookurl-bg-color-hover: #5865f2;
    --booktext-bg-color-hover: #ffffff;
    --third-bg-color: #393a41;
    --item-bg-color-hover: #393a41;
    --paragraph-text-color: #9b9ca3;
    --tooltip-bg-color: #393a41;
    --border-bg-color: #393a3f;
    --title-text-color: #ffffff;
}