.temaDark {
    --outer-bg-color: #121214;
    --button-bg-color: #1d1d1e;
    --field-bg-color: #111112;
    --inner-bg-color: #1a1a1e;
    --bookurl-bg-color: #292c51;
    --booktext-bg-color: #a9baff;
    --bookurl-bg-color-hover: #5865f2;
    --booktext-bg-color-hover: #ffffff;
    --third-bg-color: #222327;
    --item-bg-color-hover: #232328;
    --paragraph-text-color: #82838b;
    --tooltip-bg-color: #2b2c31;
    --border-bg-color: #222225;
    --title-text-color: #fbfbfb;
    --edited-book-bg-color: #25201c;
    --edited-book-bar-bg-color: #ce9c5c;
    --edited-book-bg-color-hover: #1e1c1c;
    --purple-type-style-bg-color: #4b2951;
    --purple-type-style-text-color: #f1a8ff;
    --blue-type-style-bg-color: #293851;
    --blue-type-style-text-color: #a8c8ff;
    --green-type-style-bg-color: #3a5129;
    --green-type-style-text-color: #caffa8;
    --more-info-text-color: #9697a1;
}