.temaDark {
    --outer-bg-color: #121214;
    --button-bg-color: #1d1d1e;
    --field-bg-color: #111112;
    --inner-bg-color: #1a1a1e;
    --bookurl-bg-color: #292c51;
    --booktext-bg-color: #a9baff;
    --bookurl-bg-color-hover: #5865f2;
    --booktext-bg-color-hover: #ffffff;
    --third-bg-color: #222327;
    --item-bg-color-hover: #232328;
    --paragraph-text-color: #82838b;
    --tooltip-bg-color: #2b2c31;
    --border-bg-color: #222225;
    --title-text-color: #fbfbfb;
}