.temaLight {
    --outer-bg-color: #f3f3f4;
    --button-bg-color: #e7e7e9;
    --field-bg-color: #e0e0e1;
    --inner-bg-color: #fbfbfb;
    --bookurl-bg-color: #d4d7f9;
    --booktext-bg-color: #2e3c89;
    --bookurl-bg-color-hover: #5865f2;
    --booktext-bg-color-hover: #ffffff;
    --third-bg-color: #ffffff;
    --item-bg-color-hover: #eeeeee;
    --label-text-color: #666771;
    --tooltip-bg-color: #fdfdfd;
    --border-bg-color: #d9d9dc;
}