.temaLight {
    --outer-bg-color: #f3f3f4;
    --button-bg-color: #e7e7e9;
    --field-bg-color: #e0e0e1;
    --inner-bg-color: #fbfbfb;
    --bookurl-bg-color: #d4d7f9;
    --booktext-bg-color: #2e3c89;
    --bookurl-bg-color-hover: #5865f2;
    --booktext-bg-color-hover: #ffffff;
    --third-bg-color: #ffffff;
    --item-bg-color-hover: #eeeeee;
    --paragraph-text-color: #666771;
    --tooltip-bg-color: #fdfdfd;
    --border-bg-color: #d9d9dc;
    --title-text-color: #2f3035;
    --edited-book-bg-color: #f4efe7;
    --edited-book-bar-bg-color: #ae7322;
    --edited-book-bg-color-hover: #efe9de;
    --purple-type-style-bg-color: #9b57a7;
    --purple-type-style-text-color: #f8d2ff;
    --blue-type-style-bg-color: #5a79af;
    --blue-type-style-text-color: #d1e2ff;
    --green-type-style-bg-color: #82b45e;
    --green-type-style-text-color: #e2ffcf;
}