.temaOnyx {
    --outer-bg-color: #000000;
    --button-bg-color: #121213;
    --field-bg-color: #000000;
    --inner-bg-color: #070709;
    --bookurl-bg-color: #1a1d41;
    --booktext-bg-color: #93a7fd;
    --bookurl-bg-color-hover: #5865f2;
    --booktext-bg-color-hover: #ffffff;
    --third-bg-color: #131416;
    --item-bg-color-hover: #18181a;
    --paragraph-text-color: #7b7c84;
    --tooltip-bg-color: #202125;
    --border-bg-color: #242426;
    --title-text-color: #e3e3e6;
    --edited-book-bg-color: #130e08;
    --edited-book-bar-bg-color: #ce9c5c;
    --edited-book-bg-color-hover: #0d0b09;
    --purple-type-style-bg-color: #4b2951;
    --purple-type-style-text-color: #f1a8ff;
    --blue-type-style-bg-color: #293851;
    --blue-type-style-text-color: #a8c8ff;
    --green-type-style-bg-color: #3a5129;
    --green-type-style-text-color: #caffa8;
}