.temaOnyx {
    --outer-bg-color: #000000;
    --button-bg-color: #121213;
    --field-bg-color: #000000;
    --inner-bg-color: #070709;
    --bookurl-bg-color: #1a1d41;
    --booktext-bg-color: #93a7fd;
    --bookurl-bg-color-hover: #5865f2;
    --booktext-bg-color-hover: #ffffff;
    --third-bg-color: #131416;
    --item-bg-color-hover: #18181a;
    --label-text-color: #7b7c84;
    --tooltip-bg-color: #202125;
    --border-bg-color: #242426;
}