.topbar {
    background-color: var(--outer-bg-color);
    display: flex;
    flex-direction: row;
    overflow: hidden;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
    height: 5vh;
}

// Estilos para pantallas pequeñas (teléfonos)
@media (max-width: 768px) {
    .topbar {
        border-bottom: 1px solid var(--border-bg-color);
    }
}