@use "./themes/light.scss";
@use "./themes/ash.scss";
@use "./themes/dark.scss";
@use "./themes/onyx.scss";
@import url("https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:ital,wght@0,400..700;1,400..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body {
    margin: 0;
    padding: 0;
    color: white;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    font-size: small;
    background-color: #1a1a1e;
}

a {
    color: #5095e9;
}

label {
    color: #fff;
    margin-bottom: -0.5rem;
}

input,
select,
textarea {
    padding: 0.5rem;
    border: 1px solid #97979f33;
    border-radius: 8px;
    background-color: #00000014;
    color: #82838b;
    outline: none;
    transition: border 0.3s ease-out;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    font-size: small;

    &:focus {
        border: 1px solid #5197ed;
    }
}

select option {
    background-color: #121214;
}

textarea {
    height: 100px;
}

.contenedor {
    display: flex;
    height: 95vh;
    overflow: hidden;
}

// POPUP

.popup_overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    z-index: 50;
    display: flex;
    align-items: center;
    justify-content: center;
}

.popup_box {
    background-color: #242429;
    color: #82838b;
    border: 1px solid #6d6e771f;
    border-radius: 4px;
    padding: 0.7rem;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    position: relative;
    width: 420px;
    max-width: 90%;
    max-height: 90%;
    overflow: auto;
    display: flex;
    flex-direction: column;

    h2 {
        color: #fff;
        margin: 0 0 1rem 0;
    }

    p {
        margin: 0;
        line-height: 1rem;
    }
}

.popup_close {
    position: absolute;
    top: 0.25rem;
    right: 0.25rem;
    background: none;
    border: none;
    font-size: 1.4rem;
    cursor: pointer;
    color: #82838b;
    margin-left: 55rem;
}

// Estilos para pantallas pequeñas (teléfonos)
@media (max-width: 768px) {
    .contenedor {
        flex-direction: column;
        height: auto;
    }

    .results,
    .contenedor_indices {
        height: auto;
        overflow: visible;
    }

    .table_container {
        overflow-x: auto;
    }

    table {
        font-size: 0.85rem;
    }

    .popup_box {
        width: 320px;
    }
}
